.table-header {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    label {
        padding: 2px 15px;
        line-height: 15px;
    }
}

.table-body {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    span {
        padding: 2px 15px;
        line-height: 15px;
    }
}